<%- include('../partials/header') %>

<div><b>Airline:</b></div>
<div><%= flight.airline %></div>
<div> <b>Departing From</b></div>
<div><%= flight.airport %></div>
<div> <b>Departing At</b></div>
<div><%= flight.departs %></div>
<div> <b>Flight</b></div>
<div><%= flight.flightNo %></div>

<div>Tickets</div>
<% tickets.forEach(function(ticket) { %>
  <!-- Display existing tickets -->
  <div>Ticket: <%= ticket.details %></div>
<% }) %>

<!-- New Ticket link -->
<a href= "<%= flight._id %>/tickets/new">New Ticket</a>

<!-- Add Destination Form -->
<h2>Add A Destination</h2>

    <form id="add-to-dest" action="/flights/<%= flight._id %>/destinations" method="post">
        <select name="airport">
        <option value="AUS">AUSTIN</option>
        <option value="LAX">LOS ANGELES</option>
        <option value="PHL">PHILLY</option>
        <option value="JFK">NEW YORK</option>
        <option value="SAN">SAN JOSE</option>
    </select>
    <label>Arrival</label>
    <input type="datetime-local" name="arrival">
    <input type="submit" value="Add">
</form>

<!-- Form Show Section-->
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(destination) { %>
        <tr>
          <td><%= destination.airport %></td>
          <td><%= destination.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destination Yet</h5>
<% } %>

<%- include('../partials/footer') %>